@font-face {
  font-family: BundesSerif;
  src: url(font/bundesserifweb-regular-woff-data.woff);
}

@font-face {
  font-family: BundesSans;
  src: url(font/bundessansweb-regular-woff-data.woff);
}

@font-face {
  font-family: BundesSansBold;
  src: url(font/bundessansweb-bold-woff-data.woff);
}
